.login__container{
    padding:1em;
    margin:1em 0;
}


.login__form{
    margin:0 auto;
    width:400px;
    max-width: 100%;
}

.login__form .form__title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.login__form .form__control{
    margin:1em 0;
}

.login__form label{
    display: block;
    font-size: 1.1rem;
}

.login__form input{
    width: 100%;
    padding:10px 5px;
    outline:none;
    border:1px solid #777;
    font-size: 1.1rem;
    color:#777;
}

.login__form .btn{
    width:30%;
    padding:8px 5px;
    font-size: 1.3rem;
    min-width: 100px;
}

.login__form .btn.btn--guest{

    margin:0 1em;
    font-size: 0.9rem;
    padding:4px 2px;
}

.login__form .form__btncl{
    display: flex;
    align-items: center;
}

.signup__link{
    margin:1em 0;
}