.navbar{
    position:fixed;
    width: 100vw;
    top:0;
    left: 0;
    border:1px solid #777;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    height: 4rem;
    z-index:10;
    background-color: white;
}

.navbar__items{
    display: flex;
    margin:0;
    padding:1em;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo{
    margin-right: auto;
    font-weight: 900;
}


.navbar__items a{
    display: flex;
    text-decoration: none;
    color:inherit;
}

.navbar__item{
    list-style:none;
    margin:0 1em;
    font-size: 1.2rem;
}


.logo__txt{
    font-size: 1.5rem;
}

@media screen and (max-width:500px){

    .navbar__item{
        font-size: 0.9rem;
    }

    .logo__txt{
        font-size: 1.2rem;
    }
    
}