.admEditProduct__container{
    padding:1em;
}

.position__relative{
    position:relative;
    width:400px;
    max-width: 100%;
    margin:0 auto;
}

.admEditProduct__container .title{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    
}

.admEditProduct__form{
    width: 400px;
    max-width: 100%;
    padding:1em;
    border:1px solid #777;
    border-radius: 20px;
    margin:0 auto;
    font-size: 1rem;
}

.form__controle{
    margin:8px 0;
}

.form__controle span{
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
}

.form__controle input, textarea{
    width: 100%;
    padding:8px 5px;
}

.form__controle textarea{
    resize: none;
}

.admEditProduct__form .btn{
    padding:8px 10px;
    font-size: 1rem;
}

.product__delete{
    position:absolute;
    top:0.3em;
    cursor: pointer;
    right:1em;
    background-color: pink;
    border:1px solid red;
    border-radius: 5px;
}

.product__delete img{
    filter:invert(29%) sepia(69%) saturate(2037%) hue-rotate(344deg) brightness(103%) contrast(85%);
}

