

.error--msg{
    border:1px solid red;
    color:red;
    background-color: pink;
    width:auto;
    margin:8px 0;
}

.editaddress{
    padding:0.5em;
}

.editaddress .address{
    font-size: 1rem;
    color:rgba(0,0,0,0.8);
}

.editaddress textarea{
    width:100%;
    resize: none;
    margin-bottom: 5px;
}

.btn__collection{
    display: flex;
    width:50%;
}

.btn__collection button{
    margin:2px 4px;
    font-size: 1rem;
    padding:4px 7px;
}