.products__container{
    padding:1em;
}

.products__title{
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    text-align: center;
    margin:0em 0 2em;
}

.products__filter{
    float:right;
    cursor:pointer;
    position:sticky;
    top:5rem;
    z-index: 115;
}

.products__filter .btn{
    font-size: 1.1rem;
    padding:0.5em;
}

.products__list{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
    gap:2em;
    z-index:110;
}

.product__link{
    cursor: pointer;
}